php_error.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
/ENV
/app/config/*
~
# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/
